<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="NHSN-IG-Enforce-Trailing-Slash-For-Directories" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" redirectType="Found" />
                </rule>
                <rule name="NHSN-IG-json-format" stopProcessing="true">
                    <match url="^(.*/)?(ActivityDefinition|ActorDefinition|CapabilityStatement|ChargeItemDefinition|Citation|CodeSystem|CompartmentDefinition|ConceptMap|ConditionDefinition|DeviceDefinition|EventDefinition|Evidence|EvidenceVariable|ExampleScenario|GraphDefinition|ImplementationGuide|Library|Measure|MessageDefinition|NamingSystem|ObservationDefinition|OperationDefinition|PlanDefinition|Questionnaire|Requirements|SearchParameter|SpecimenDefinition|StructureDefinition|StructureMap|SubscriptionTopic|TerminologyCapabilities|TestPlan|TestScript|ValueSet)\/([A-Za-z0-9\-\.]{1,64})" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="_format=(json|application/json|application/fhir\+json)" />
                    </conditions>
                    <action type="Redirect" url="{R:1}{R:2}-{R:3}.json" redirectType="Found" />
                </rule>
                <rule name="NHSN-IG-xml-format" stopProcessing="true">
                    <match url="^(.*/)?(ActivityDefinition|ActorDefinition|CapabilityStatement|ChargeItemDefinition|Citation|CodeSystem|CompartmentDefinition|ConceptMap|ConditionDefinition|DeviceDefinition|EventDefinition|Evidence|EvidenceVariable|ExampleScenario|GraphDefinition|ImplementationGuide|Library|Measure|MessageDefinition|NamingSystem|ObservationDefinition|OperationDefinition|PlanDefinition|Questionnaire|Requirements|SearchParameter|SpecimenDefinition|StructureDefinition|StructureMap|SubscriptionTopic|TerminologyCapabilities|TestPlan|TestScript|ValueSet)\/([A-Za-z0-9\-\.]{1,64})" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="_format=(xml|application/xml|application/fhir\+xml)" />
                    </conditions>
                    <action type="Redirect" url="{R:1}{R:2}-{R:3}.xml" redirectType="Found" />
                </rule>
                <rule name="NHSN-IG-json-accept" stopProcessing="true">
                    <match url="^(.*/)?(ActivityDefinition|ActorDefinition|CapabilityStatement|ChargeItemDefinition|Citation|CodeSystem|CompartmentDefinition|ConceptMap|ConditionDefinition|DeviceDefinition|EventDefinition|Evidence|EvidenceVariable|ExampleScenario|GraphDefinition|ImplementationGuide|Library|Measure|MessageDefinition|NamingSystem|ObservationDefinition|OperationDefinition|PlanDefinition|Questionnaire|Requirements|SearchParameter|SpecimenDefinition|StructureDefinition|StructureMap|SubscriptionTopic|TerminologyCapabilities|TestPlan|TestScript|ValueSet)\/([A-Za-z0-9\-\.]{1,64})" />
                    <conditions>
                        <add input="{HTTP_ACCEPT}" pattern="json" />
                    </conditions>
                    <action type="Redirect" url="{R:1}{R:2}-{R:3}.json" redirectType="Found" />
                </rule>
                <rule name="NHSN-IG-xml-accept" stopProcessing="true">
                    <match url="^(.*/)?(ActivityDefinition|ActorDefinition|CapabilityStatement|ChargeItemDefinition|Citation|CodeSystem|CompartmentDefinition|ConceptMap|ConditionDefinition|DeviceDefinition|EventDefinition|Evidence|EvidenceVariable|ExampleScenario|GraphDefinition|ImplementationGuide|Library|Measure|MessageDefinition|NamingSystem|ObservationDefinition|OperationDefinition|PlanDefinition|Questionnaire|Requirements|SearchParameter|SpecimenDefinition|StructureDefinition|StructureMap|SubscriptionTopic|TerminologyCapabilities|TestPlan|TestScript|ValueSet)\/([A-Za-z0-9\-\.]{1,64})" />
                    <conditions>
                        <add input="{HTTP_ACCEPT}" pattern="xml" />
                    </conditions>
                    <action type="Redirect" url="{R:1}{R:2}-{R:3}.xml" redirectType="Found" />
                </rule>
                <rule name="NHSN-IG-html">
                    <match url="^(.*/)?(ActivityDefinition|ActorDefinition|CapabilityStatement|ChargeItemDefinition|Citation|CodeSystem|CompartmentDefinition|ConceptMap|ConditionDefinition|DeviceDefinition|EventDefinition|Evidence|EvidenceVariable|ExampleScenario|GraphDefinition|ImplementationGuide|Library|Measure|MessageDefinition|NamingSystem|ObservationDefinition|OperationDefinition|PlanDefinition|Questionnaire|Requirements|SearchParameter|SpecimenDefinition|StructureDefinition|StructureMap|SubscriptionTopic|TerminologyCapabilities|TestPlan|TestScript|ValueSet)\/([A-Za-z0-9\-\.]{1,64})" />
                    <action type="Redirect" url="{R:1}{R:2}-{R:3}.html" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>